@charset "utf-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --verde-principal: #183A2D;
    --verde-claro: #81C784;
    --marrom: #6D4C41;
    --bege: #DCC5B2;
    --amarelo: #FBC02D;
}

header {
    width: 100px;
    background-color: var(--bege);
    position: fixed;
    margin-right: 100px;
    height: 100vh;
}

.container {
    margin-left: 100px;
}

header a {
    text-decoration: none;
    color: var(--verde-principal);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.nome-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

footer {
    background-color: var(--verde-principal);
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
}

footer h2 {
    min-width: 120px;
    display: inline;
}

footer img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: inline;
}

footer ul {
    columns: 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a {
    justify-content: start;
    color: white;
    text-decoration: none;
}

footer p {
    text-align: center;
}